// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
@font-face {
    font-family: 'Cairo';
    src: url('~/assets/fonts/Cairo/Cairo-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Lobster';
    src: url('~/assets/fonts/Lobster/Lobster-Regular.ttf');
}
@font-face {
    font-family: 'Patrick';
    src: url('~/assets/fonts/Patrick_Hand_SC/PatrickHandSC-Regular.ttf');
}
@font-face {
    font-family: 'Raleway-Italic';
    src: url('~/assets/fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Raleway';
    src: url('~/assets/fonts/Raleway/Raleway-VariableFont_wght.ttf');
}

*{
  font-family: 'Raleway';

}

.hr{
    width: 98%;
    height: 1px;
    background: #bbbbbb none repeat scroll 0% 0%;
    position: relative;
    left: 10px;
    margin: 20px 0;
}
